# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/stateless-server/build.gradle.kts
/stateless-server/src/minecraft
/paper-server
/stateless-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/

.DS_Store
